.services-list {
  display: flex;
  padding: 3rem var(--mainPaddingX);
  gap: 2rem;
}

.service-item {
  text-align: center;
  padding: 3rem;
  transform: scale(0);
}

.scale-item {
  animation: scaleitem 1s var(--i) forwards;
}

@keyframes scaleitem {
  50% {
    transform: scale(1.2, 1.3);
  }
  100% {
    transform: scale(1);
  }
}

.service-item-header {
  font-family: var(--primaryFont);
  color: var(--darkBlueFont);
  margin: 2rem 0;
}

.service-item-blurb {
  font-family: var(--primaryFont);
  color: var(--darkBlueFont);
  font-weight: 200;
  line-height: 2rem;
}

@media screen and (max-width: 650px) {
  .services-list {
    flex-direction: column;
  }
}
